@import "tailwindcss";

@font-face {
  font-family: "Source Sans 3";
  src: url("./assets/fonts/SourceSans3VF-Upright.otf.woff2") format("woff2");
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  :root {
    font-family:
      "Source Sans 3",
      system-ui,
      -apple-system,
      sans-serif;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  opacity: 0.05;
  background-size: 256px;
  transform: rotate(-12deg) scale(1.35);
  animation: slide 30s linear infinite;
  pointer-events: none;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

/* dialog { */
/*   border: none; */
/*   padding: 0; */
/*   opacity: 0; */
/*   transform: translateY(-12px); */
/*   transition: opacity 0.2s ease, transform 0.2s ease; */
/*   transition-behavior: allow-discrete; */
/* } */

/* dialog[open] { */
/*   opacity: 1; */
/*   transform: translateY(0); */
/* } */

dialog {
  border: none;
  padding: 0;
  opacity: 0;
  transition:
    opacity 0.5s,
    background-color 0.5s,
    display 0.5s allow-discrete;
  transition-behavior: allow-discrete;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(2px);
}

@starting-style {
  dialog {
    opacity: 0;
  }
}

dialog[open] {
  opacity: 1;
}

dialog:not([open]) {
  opacity: 0;
}
